
.company-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 2100px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    align-items: center;
    background-color: rgb(9, 37, 67);
    border-radius: 8px;
    border: 1px rgb(140, 140, 140) solid;
    padding: 10px;

}

.company-profile{
    border-radius: 5px;
    min-height: 300px;
    max-height: 350px;
    min-width: 350px;
    margin-left: 1%;
    color: rgb(167, 179, 198);
    
    > div {
        padding: 10px;
    }

    .company-name{
        border-bottom: 1px solid rgb(187, 187, 187);
        padding: 20px 0px;
        font-weight: bolder;
        font-size: 18px;
    }
}


.company-recommend{
    border-radius: 5px;
    min-height: 300px;
    max-height: 350px;
    min-width: 500px;
    margin-left: 10px;
    color: rgb(167, 179, 198);
}

.company-price{
    border: 1px yellow solid;
}

.d3-axes{
    color: rgb(232, 232, 232);
    font-size: 14px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}
