body{
    background-color: rgb(33, 33, 33);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .about-me{
        display: flex;
        justify-content: space-between;
        font-size: 40px;
        color: white;
        width: 150px;
        padding-left: 20px;
        
        a:visited {
            color:inherit;
        }

        i:hover {
            cursor: pointer;
        }
    }
    
    .page-header{
        font-size: 42px;
        font-weight: bolder;
        font-family: 'Righteous', cursive;
        color:rgb(255, 255, 255);
        padding-right: 130px
    }

    #information{
        font-size: 40px;
        color: white;

        i:hover {
            cursor: pointer;
        }
    }
}



.graph-header{
    color: rgba(232, 232, 232);
    height: 70px;
    width: 20%;
    position: absolute;
    left: 40%;
}

#d3-container {
    position:relative;
    height: 600px;
    border: 1px solid rgb(74, 74, 74);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/575196/stock-arrow-up-blue-background.jpg&w=2000&op=resize");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .d3-axes{
        color: rgb(232, 232, 232);
    }
}

span.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 18px;
}


#companies-container-headers{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 2122px;
    min-width: 1200px;
    font-size: 26px;
    font-weight: bolder;
    height: 75px;
    color: rgba(167, 179, 198);
    border-bottom: 1px rgb(165, 165, 165) solid;
    background-color: rgb(33, 33, 33);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    .company-profile-header{
        min-width: 200px;
        width: 350px;
        margin-left: 1%;
    }

    .company-recommend-header{
        min-width: 450px;
        width: 500px;
        margin-left: 10px;
    }

    .company-price-header{
        min-width: 1000px;
    }
}
