body{
    background-color: rgb(45, 45, 45);
}

.page-header{
    color:rgb(255, 255, 255)
}

.graph-header{
    color: rgba(232, 232, 232);
    height: 70px;
    width: 20%;
    position: absolute;
    left: 40%;
}

#d3-container {
    position:relative;
    height: 600px;
    border: 1px solid rgb(74, 74, 74);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/575196/stock-arrow-up-blue-background.jpg&w=2000&op=resize");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 30px;
    
    .d3-axes{
        color: rgb(232, 232, 232);
    }
}

span.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 18px;
}


#companies-container-headers{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 2100px;
    margin-top: 2%;
    font-size: 26px;
    font-weight: bolder;
    height: 50px;
    color: rgba($color: #4b75ff, $alpha: 1.0);
    border-bottom: 1px rgb(165, 165, 165) solid;

    .company-profile-header{
        min-width: 350px;
        margin-left: 1%;
    }

    .company-recommend-header{
        min-width: 500px;
        margin-left: 10px;
    }

    .company-price-header{
        min-width: 1000px;
    }
}
